<nav class="navbar navbar-expand-md bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">
           myReadme
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Todas os
                        arquivos</a>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown">
                        Pastas
                    </a>
                    <ul class="dropdown-menu scrollable-menu shadow-lg" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Sem pasta</a></li>
                        <li><a class="dropdown-item" href="#">Compras</a></li>
                        <li><a class="dropdown-item" href="#">Faculdade</a></li>
                        <li>
                            <hr class="dropdown-divider bg-light">
                        </li>
                        <li><a class="dropdown-item" href="#"> <i class="fas fa-folder-plus"></i> Criar pasta</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lixeira</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ajuda</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="add.html">logout <i class="fas fa-sign-out-alt"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
