<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>

<main>
  <div class="container">
      <h3>Todas as seus arquivos</h3>

      <div class="row mt-5">
          <div class="col-3">
              <div class="card shadow">
                  <div class="card-body">
                      <a href="http://" class="card-link">
                          <h5 class="card-title">Lista de compras - mercado</h5>

                          <p class="text-date my-4">06/12/2020 às 22h30 - Última alteração</p>
                         
                      </a>

                      <button class="btn btn-danger mt-4" type="submit"><i class="fas fa-trash"></i></button>

                  </div>

              </div>
          </div>
          <div class="col-3">
              <div class="card shadow">
                  <div class="card-body">
                      <h5 class="card-title">Anotações de banco de dados</h5>


                      <p class="text-date my-4">06/12/2020 às 22h30 - Última alteração</p>
                      

                      <button class="btn btn-danger mt-4" type="submit"><i class="fas fa-trash"></i></button>
                  </div>
              </div>
          </div>
          <div class="col-3">
              <div class="card shadow">
                  <div class="card-body">
                      <h5 class="card-title">Lista de séries para assistir em 2020</h5>


                      <p class="text-date my-4 ">06/12/2020 às 22h30 - Última alteração</p>
                      

                      <button class="btn btn-danger mt-4" type="submit"><i class="fas fa-trash"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<%- include("./partials/footer.ejs") %>

