body {
  background-color: #f0f3f5 !important; }

main {
  padding: 70px 0px; }

.card {
  border-radius: 20px !important;
  border: none !important; }

.card-body {
  padding: 25px !important; }

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  border: none !important; }

.filename {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 20pt !important;
  font-weight: 600 !important; }

.form-select {
  border: none !important;
  background-color: #DEE2EA !important; }

.navbar-brand {
  color: #222329;
  font-weight: 800;
}

.navbar-brand:hover {
  color: #6b727a;
}


.nav-link {
  color: #222329;
  font-weight: 500;
  font-size: 11pt; }

.nav-link:hover {
   color: #6b727a;
}

* {
  font-family: 'Roboto', sans-serif; }

.card-title {
  font-weight: 600;
  margin-top: 10px;
  height: 5rem; }

.text-date {
  color: #707070;
  font-size: 13px;
  font-weight: 400; }

.card-link {
  text-decoration: none;
  color: #222329; }

.card-link:hover {
  text-decoration: none;
  color: #222329; }

.dropdown-item {
  font-weight: 500 !important;
  font-size: 15px; }

.login {
  background-color: #dadee2 !important;
  border: none !important;
}

label {
  font-weight: 500;
  font-size: 10pt;
}

.jumbotron{ 
  border-radius: 15px !important;
}